<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="common">
    <div id="header">
        <div>
            <div class="logo">
                <a th:href="@{/}"><h1>LIBRARY</h1></a>
            </div>
            <div class="header-right">
                <th:block th:if="${session.user == null}">
                    <a th:href="@{/user/join}">JOIN</a>
                    <a th:href="@{/user/login}">LOGIN</a>
                </th:block>
                <th:block th:unless="${session.user == null}">
                    <a th:href="@{/mypage}">MYPAGE</a>
                    <a th:href="@{/member/logout}">LOGOUT</a>
                </th:block>
            </div>
        </div>
    </div>
</header>
</html>